/* =========================
   전체 컨테이너
========================= */
.adminaccount-container {
	background-color: #F3F2F4;
	height: 100%;
	padding: 32px;
}

/* =========================
   타이틀 & 인사말
========================= */
.adminaccount-greeting {
	font-size: 25px;
	margin-bottom: 40px;
}

/* =========================
   테이블 래퍼
========================= */
.adminaccount-table-wrapper {
	background-color: #ffffff;
	border-radius: 16px;
	padding: 24px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
	height: 584px;
	/*특별한 일이 없을 시 표 흰 박스 높이 584px 고정값*/
}

/* =========================
   Grid 기반 테이블
========================= */
.adminaccount-table {
	display: flex;
	flex-direction: column;
}